<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Forte7000C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Forte7000C.Properties.Settings.ForteDataConnectionString"
            connectionString="Data Source=PORNTEP\SQLEXPRESS;Initial Catalog=ForteData;Integrated Security=True" />
        <add name="Forte7000C.Properties.Settings.ForteDataConnectionString1"
            connectionString="Data Source=PK-PC\SQLEXPRESS;Initial Catalog=ForteData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Forte7000C.Properties.Settings>
            <setting name="OscCommIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscParityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscDataBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscStopBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleCommIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleParityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleDataBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleStopBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProdSelectIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleReadTimeOut" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ScaleRetry" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OscReadTimeOut" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Averaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bForte2Option" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bScaleInside" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>forte</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ForteData</value>
            </setting>
            <setting name="MoistureUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WeightUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bSingleForte" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bHotKeyChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iMaxLogLines" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="bLogMsgOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScaleMode" serializeAs="String">
                <value />
            </setting>
            <setting name="OscMode" serializeAs="String">
                <value />
            </setting>
            <setting name="StrWeightReq" serializeAs="String">
                <value />
            </setting>
            <setting name="strSimWeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bSimWtRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iForteRange" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CsvFileLocation" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="DayEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="SNResetType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lSqlTableIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastShutDown" serializeAs="String">
                <value />
            </setting>
            <setting name="bDayEndRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bMonthEndRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintItemsLst" serializeAs="String">
                <value />
            </setting>
            <setting name="bShiftRepCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftOneCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftTwoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShiftThreeCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftOneTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShiftTwoTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShiftThreeTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShiftOneName" serializeAs="String">
                <value>Shift_1</value>
            </setting>
            <setting name="ShiftTwoName" serializeAs="String">
                <value>Shift_2</value>
            </setting>
            <setting name="ShiftThreeName" serializeAs="String">
                <value>Shift_3</value>
            </setting>
            <setting name="bSnAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SharedFileLocation" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="SharedFileChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BalePrintChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SharedFileName" serializeAs="String">
                <value>BaleData.</value>
            </setting>
            <setting name="iSerialMax" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="BaleSumDepth" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LotPrintChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LpResetMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LpType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iLotMax" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="iCustomLotSize" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="ScaleModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SCRFull" serializeAs="String">
                <value>False</value>
            </setting>
        </Forte7000C.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.97.5141" newVersion="8.1.97.5141" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.10.0" newVersion="5.11.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>