<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Forte7000E.Module.LotProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Forte7000E.Module.LotProcess.Properties.Settings>
            <setting name="LpEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LpResetMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LotType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iLotMax" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="iCustomLotSize" serializeAs="String">
                <value>99999</value>
            </setting>
            <setting name="LotPrintChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenLot" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LotSequence" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LotClose" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LotReset" serializeAs="String">
                <value>0</value>
            </setting>
        </Forte7000E.Module.LotProcess.Properties.Settings>
    </userSettings>
</configuration>