<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Forte7000E.Module.SerialCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Forte7000E.Module.SerialCom.Properties.Settings>
            <setting name="ScaleCommIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleParityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleDataBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScaleStopBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bSimWtRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StrWeightReq" serializeAs="String">
                <value />
            </setting>
            <setting name="ScaleCharReq" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="idxStrCharOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idxStrCharTwo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idxStrCharThree" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idxEndCharOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idxEndCharTwo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idxEndCharThree" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strSimWeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OscCommIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscParityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscDataBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscStopBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscModeIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OscMode" serializeAs="String">
                <value />
            </setting>
            <setting name="iForteRange" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="bOscRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectS1PortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectS1BaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectS1ParityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectS1StopBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectS1DataIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialOneCommIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialOneBaudRateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialOneParityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialOneDataBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialOneStopBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialOneEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleRetryPeriod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ScaleRetry" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="OscRetryPeriod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="OscRetry" serializeAs="String">
                <value>5</value>
            </setting>
        </Forte7000E.Module.SerialCom.Properties.Settings>
    </userSettings>
</configuration>